* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--thir-color--);
}

:root {
  --pColor--: #616161;
  --main-color--: #252323;
  --main1-color--: #f5f1ed;
  --sec-color--: #70798c;
  --thir-color--: #f5f1ed;
  --four-color--: #dad2bc;
  --fiv-color--: #a99985;
  --over-lay--: #f5f1ede3;
  --shadow--: #bebebe6b;
  --shadow1--: rgb(163, 161, 161);
}

.night {
  --main-color--: #f5f1ed;
  --main1-color--: #252323;
  --sec-color--: #70798c;
  --thir-color--: #252323;
  --four-color--: #dad2bc;
  --fiv-color--: #a99985;
  --over-lay--: #252323f5;
  --shadow--: rgba(19, 19, 19, 0.425);
  --shadow1--: rgba(0, 0, 0, 0.493);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

p {
  color: var(--pColor--);
}

.container {
  color: var(--main-color--);
}

.container header {
  min-height: 100vh;
  background-color: var(--thir-color--);
}

a {
  text-decoration: none;
}

/* navbar */

.container header nav {
  color: var(--thir-color--);
  height: 64px;
  background-color: var(--main-color--);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.container header nav .logo {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 30px;
  display: flex;
  cursor: pointer;
}

.container header nav .logo i {
  margin-top: 10px;
  font-size: 0.9em;
}

.container header nav .links {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: width 0.5s, height 1s;
  -webkit-transition: width 0.5s, height 1s;
  -moz-transition: width 0.5s, height 1s;
  -ms-transition: width 0.5s, height 1s;
  -o-transition: width 0.5s, height 1s;
  z-index: 999;
}

.container header nav .links li {
  cursor: pointer;
  height: 100%;
  width: 130px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header nav .links li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.container header nav .links li a.active {
  background-color: var(--thir-color--);
  color: var(--main-color--);
}

.container header nav .links li a:hover {
  color: var(--sec-color--);
}

.container header nav .menu {
  display: none;
}

/* From Uiverse.io by JulanDeAlb */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--thir-color--);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }
  .container header nav .links li {
    width: 100px;
  }
  .container header nav .logo {
    font-size: 23px;
  }
}

@media (max-width: 800px) {
  .container header nav .menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .container header nav .links {
    position: absolute;
    overflow: hidden;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: var(--main-color--);
    gap: 0;
    height: 0;
    width: 0;
    justify-content: space-between;
  }
  .container header nav .links li {
    width: 100%;
  }
  .container header nav .links li:not(:last-child) {
    border-bottom: 1px solid var(--thir-color--);
  }
  .container header nav .logo {
    margin-top: -10px;
  }
}

/* header section  */

.container header section {
  background-image: url("../Imgs/backgroundDay.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  top: 64px;
  padding: 0 20px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.container header section .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--over-lay--);
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: absolute;
  right: 50px;
  top: 50px;
  display: inline-block;
  width: 1.5em;
  height: 1em;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
}

@media (max-width: 800px) {
  .switch {
    font-size: 14px;
    right: 60px;
    top: 80px;
  }
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(
      at 21% 46%,
      hsla(183, 65%, 60%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 23% 25%, hsla(359, 74%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 1%, hsla(267, 83%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 87%, hsla(204, 69%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 41%, hsla(171, 72%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 24%, hsla(138, 60%, 62%, 1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.4em;
  width: 0.4em;
  opacity: 0;
  bottom: 0.35em;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.52) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(
      at 81% 39%,
      hsla(327, 79%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 11% 72%, hsla(264, 64%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 20%, hsla(75, 98%, 71%, 1) 0px, transparent 50%);
}

.input__check:checked + .slider {
  background-color: #17202a;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {
  0%,
  100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

.container header section .text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.container header section .text .name {
  color: var(--sec-color--);
}

.container header section .text h1 {
  margin: 0 0 20px;
  font-size: 1.9em;
}

.container header section .text p {
  font-size: 1em;
  line-height: 30px;
}

.container header section .social {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.container header section .social a {
  color: inherit;
  font-size: 1.3em;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.container header section .email {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
  font-size: clamp(10px, 2vw, 0.9em);
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.container header section .email span {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: none;
  color: var(--sec-color--);
}

.container header section .email i {
  font-size: 1.3em;
}

.container header section .email:hover,
.container header section .social a:hover {
  color: var(--sec-color--);
}

/* about  */

.container .part {
  padding: 70px 50px 50px;
}

.container .part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .part .text {
  margin-bottom: 50px;
  width: 80%;
}

.container .part h2 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.container .about .text p:first-of-type {
  margin-bottom: 20px;
}

.container .about .text p:first-of-type .my-name {
  color: var(--sec-color--);
}

.container .about .text h3 {
  margin-top: 30px;
}

.container .about .skills-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container .about .skills-tools .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.container .about .skills-tools .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  height: 254px;
  border-radius: 50px;
  background: var(--thir-color--);
  box-shadow: 20px 20px 60px var(--shadow--), -20px -20px 60px var(--shadow--);
}

.container .about .skills-tools .card {
  font-size: 1.1em;
}

.container .about .skills-tools .card i {
  font-size: 40px;
}

.container .about .skills-tools .skills .html i {
  color: #e34c26;
}

.container .about .skills-tools .skills .css i {
  color: #264de4;
}

.container .about .skills-tools .skills .js i {
  color: #e7ce28;
}

.container .about .skills-tools .skills .bootstrap i {
  color: #563d7c;
}

.container .about .skills-tools .skills .react i {
  color: #61dbfb;
}

.container .about .skills-tools .git i {
  color: #f1502f;
}

@media (max-width: 800px) {
  .container .part .text {
    width: 100%;
    margin-bottom: 30px;
  }
  .container .part .text h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  .container .about .text p:first-of-type {
    margin-bottom: 10px;
  }
  .container .about .skills-tools .skills {
    margin-bottom: 30px;
    gap: 20px;
  }
  .container .about .skills-tools .card {
    gap: 20px;
    width: 120px;
    height: 184px;
    font-size: 0.9em;
  }
}

.projects .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

/* From Uiverse.io by gharsh11032000 */
.projects .card {
  position: relative;
  width: 450px;
  height: 300px;
  background-color: var(--thir-color--);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects .card img {
  width: 100%;
  height: 100%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--shadow1--);
}

.projects .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--thir-color--);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects .card__content .open {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.projects .card__content .open a {
  color: var(--main-color--);
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.projects .card__content .open a:hover {
  color: var(--sec-color--);
}

.projects .card:hover .card__content {
  transform: rotateX(0deg);
  color: var(--main-color--);
}

.projects h3 {
  margin: 0;
}

.projects .text p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.projects .card:hover img {
  scale: 0;
}

.projects .card__description {
  margin: 10px 0 0;
  line-height: 1.4;
  color: var(--pColor--);
}

@media (max-width: 800px) {
  .projects .card {
    width: 250px;
    height: 400px;
  }
  .projects .cards {
    gap: 20px;
    margin-bottom: 30px;
  }
}

.contact p {
  font-size: 1.1em;
  font-weight: bold;
  /* text-align: center; */
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.inputbox {
  position: relative;
  width: 300px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: var(--main1-color--);
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: var(--pColor--);
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: var(--sec-color--);
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--sec-color--);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.contact form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact form textarea {
  width: 350px;
  height: 200px;
  border: 2px solid var(--sec-color--);
  padding: 10px;
  outline: none;
  background-color: var(--main1-color--);
  color: var(--pColor--);
  resize: none;
}

.contact form .sub {
  font-size: 18px;
  color: var(--pColor--);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.sub::after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--sec-color--);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width left;
}

.contact form .sub:focus,
.contact form .sub:hover {
  color: var(--main-color--);
}

.contact form .sub:focus::after,
.contact form .sub:hover::after {
  width: 100%;
  left: 0%;
}

.contact form p {
  margin-top: 30px;
}

@media (max-width: 800px) {
  .contact form textarea {
    width: 300px;
    height: 150px;
  }
  .inputbox {
    width: 250px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70vh;
  background-color: var(--main-color--);
  margin-top: 100px;
  color: var(--thir-color--);
}

footer .quot {
  background-color: var(--sec-color--);
  width: 50%;
  text-align: center;
  height: 150px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: absolute;
  top: -50px;
}

footer .quot h1 {
  font-size: 1.7em;
}

footer .content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 60px;
  font-size: 1.2em;
  height: 100%;
  padding: 0 20px;
}

footer .content .logo {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.9em;
}

footer .content p {
  color: var(--thir-color--);
}

footer .content .copyright {
  font-size: 0.9em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

footer .social {
  display: flex;
  gap: 50px;
  justify-content: center;
}

footer .social a {
  color: var(--main1-color--);
  font-size: 1.5em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

footer .social a:hover {
  color: var(--sec-color--);
}

@media (max-width: 800px) {
  footer .quot {
    height: 110px;
  }
  footer .quot h1 {
    font-size: 1.2em;
  }
  footer .content .copyright {
    font-size: 0.6em;
  }
  footer .content p {
    font-size: 0.8em;
  }
}

/* From Uiverse.io by vinodjangid07 */

.scroll-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: none;
}

@media (max-width: 800px) {
  .scroll-top {
    bottom: 1%;
  }
}

.scroll-top .Btn {
  width: 35px;
  height: 35px;
  background: var(--sec-color--);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}

.scroll-top .arrow path {
  fill: var(--main1-color--);
}

.scroll-top .Btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
